<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6167762191554858" crossorigin="anonymous"></script>  
<title>Privacy Policy</title>
</head>
<body>
<h1>Privacy Policy</h1>

<p>
We respect your privacy. Any information entered on this website is used only for generating resumes.
We do not sell, share or misuse user data.
</p>

<p>
Google Analytics and other services may collect anonymous usage data to improve our website experience.
</p>

<a href="/">Back to Home</a>
</body>
</html>
